/*Estilos generales*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #1BA9B6;
}


/* Estilos Cabecera */

header {
    width: 1212px;
    height: 140px;
    background-color: #000;
    margin: auto;
}

#logotipo {
    width: 70%;
    height: 140px;
    margin: 0 auto;
}

#logotipo img {
    display: block;
    width: 300px;
    float: left;
    margin-top: 16px;
}

#logotipo h1 {
    display: block;
    margin-left: 21px;
    padding-top: 50px;
    padding-left: 300px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #42a096;
}